<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.springbyexample"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_stat_spring_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.springbyexample" >
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.EditItemActivity" />

        <provider
            android:name=".dao.EmployeeProvider"
            android:authorities="ua.com.springbyexample.employeeprovider"
            android:exported="false" />

        <service android:name="ua.com.springbyexample.net.SyncService" />
    </application>

</manifest>